<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-product</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit) = 'createProduct()'>
    <ion-item>
      <ion-input label="Name" labelPlacement="stacked" placeholder="Enter name"[(ngModel)]="newProduct.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Category" labelPlacement="stacked" placeholder="Enter category"[(ngModel)]="newProduct.category" name="category" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Unit Price" labelPlacement="stacked" placeholder="Enter unit price"[(ngModel)]="newProduct.unitPrice" name="price" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Quantity" labelPlacement="stacked" placeholder="Enter quantity"[(ngModel)]="newProduct.quantity" name="quantity" required></ion-input>
    </ion-item>
    <ion-button type="submit">Save</ion-button>
  </form>
</ion-content>
